/*body solo para ver que funciona
body
{
    background-color: blue;
}

------------------------------*/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box; /*para que los contenedores se escalen para adentro*/

}

body {

    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;

}


/*Inicio Header*/

ul{

    margin: 0;
    padding: 0;
    list-style: none; 
    
}


a{

    text-decoration: none; /*sin subrayado*/

}

.logo{

    margin: 0;
    

}

.navppal{

    margin-top: 5px;
    display: flex;
    position:fixed;
}
    

.logo a,
.navppal a {

    padding: 10px 15px;
    text-align: center;
    display: flex;
    

}

.logo {
    background-color: burlywood;
    margin: 0 auto;
    justify-content: center;
}
header{

    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid blue;
    background-color: beige;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 2000;
    margin: 0 auto;
    flex-direction: column;
    
    
   
    
   
}


.micarro { 
    margin-top: 100px;
}
.carousel {
    
    
    display: flex;
    width: 100%;
    margin: 0 auto;
    
   
    
}
.carousel img{

    height: 200px;
    
    
}

/* fin header*/ 

/* Inicio body con GRID */

.contenedorgrid{

    width: 100%;
    margin: 0 auto; /*centrar contenedor*/
    margin-top: 10px;

}

.contenedorMain{ 

    display: grid;
    grid-template-columns: repeat(1, 1Fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-auto-flow: row;
    width: 100%;
    z-index: 1000;
    
       
}

.contenedorMain div {    
   
    width:100%;
    text-align: center;
    padding: 5px;border: 1px solid black;
    border-radius: 5px;
    padding: 5px;

}

.contenedorMain div img {
    width:100%;
    object-fit: cover;

}

.contenedorMain div h5{
    background-color: black;
    color: white;
    font-weight: bolder;
}

.contenedorMain div p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.contenedorMain div a{
    background-color: aqua;
    color: black;
    padding: 10px;
    border-radius: 3px;
    
}

/* fin body con grid*/

/* formulario*/

 


.contacto{
    width: 100%;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 5px;
    margin: 5px;
    
}

form input[type=text],
form input[type=email] {
    width: 50%;
    padding: 5px;
    margin: 5px;
}

div .sexo{
    border: 1px solid blue;
    Width: 30%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
textarea{
    width: 50%;
    height: 100px;
    padding: 5px;
    margin: 5px;
    height:80px;
    max-height: 150px;
}

form input[type=submit]{
    background-color: green;
    padding:10px;
    border-radius: 5px;
}


section .Links{
text-align: center;
}

section .copyright{
    text-align: center;
}

.micarro{
    background-color: red;
    margin: 0 auto;
    
   
    
}

.carrogato{
   
}



/*------------------------------------------------*/

/* media query tablet de 769 para arriba*/

@media (min-width: 769px) {
	
.header,
.navppal{

    display: flex;

}
.header{

    flex-direction: column;
    align-items: center;
    width: 100%;
    
    
}


.contenedorMain{

    grid-template-columns: repeat(2, 1Fr);

}
}


/*media query monitor de 1025 para arriba*/


@media (min-width: 1025px) {

	.header {

		flex-direction: row;
		justify-content: space-between;

	}
    .contenedorMain{

        grid-template-columns: repeat(3, 1Fr);

    }

} 

*/
