/*body solo para ver que funciona
body
{
    background-color: blue;
}

------------------------------*/

* {
    margin: 0;
    padding: 0;
 
    box-sizing: border-box; /*para que los contenedores se escalen para adentro*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
    margin:0;
    line-height: 1.6;
    background-color: red;
    max-width: 100%;
    border: 1px solid black;
    

}

/*Inicio Header*/

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


a{
    text-decoration: none;

}

.logo{
    margin: 0;
    font-size: 1.5em;
    

}

.navppal{
    margin-top: 5px;
}
    

.logo a,
.navppal a {
    padding: 10px 15px;
    text-align: center;
    display: block;
}

.header{
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid blue;
    background-color: beige;
    width: 90%;
   
    
    
    
    


}

.carousel {
    
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    
}

/* fin header*/ 

/* Inicio body con GRID */

.contenedorMain{ 
    display: grid;
    grid-template-columns: repeat(1, 1Fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    justify-items: stretch; 
    text-align: center;
    grid-auto-flow: row;
    
}

.contenedorMain div {    
   
    width: 90%;
    text-align: center;
    padding: 10px;
}

.contenedorMain div img {
    width:100%;
    object-fit: cover;
}

/* fin body con grid*/



/* media query celular*/

@media (min-width: 769px) {
	
.header,
.navppal{
    display: flex;
}
.header{
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    
}
.contenedorMain{
    grid-template-columns: repeat(2, 1Fr);
}


/*media query monitor*/


@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
    .contenedorMain{
        grid-template-columns: repeat(3, 1Fr);

    }

}